.container {
  width: 100%;
}

.list {
    margin-left: 10%;
    width: 55%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  }

  @media (max-width : 667px) {
    .list {
      width: 80%;
    }
  }