.item {
    overflow: hidden;
    background-color: white;
    padding: 0 0.5rem;
    gap: 1rem;
    border: solid 1px RGBA(2,33,58,0.4);
    border-bottom: 1px solid transparent;
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3px 8px;
  }

  .item:last-child {
    border-bottom: solid 1px RGBA(2,33,58,0.4);
  }

  .item:hover + .item{
    border-top: 1px solid transparent;
  }
 
.item:hover {
  border-radius: 2px;
  background-color: #E3FBFF;
  border: 1px solid #2ADAD3;
}


  
  .item img {
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
    max-width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    margin-right: 20px;
  }
  
  .positioninga {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .positioningb {
    display: flex;
    align-items: center;
  }

  .content h2 {
    margin: 0;
    padding-left: 5px;
    min-width: 15rem;
  }
  

  
  .actions {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
  }
  

  
  .actions a span {
    vertical-align: middle;
  }
  
  .icon {
    margin-left: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon svg {
    width: 1.25rem;
    height: 1.25rem;
  }


  
  
  @media (min-width: 1600px) {
    .item {
      flex-direction: row;
    }
  
    .item img {
      width: 40%;
      height: 14rem;
    }
  
    .content {
      width: 50%;
      padding: 0;
      text-align: left;
    }
  
    .content h2 {
      margin: 1rem 0;
    }
  
    .actions {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  
  @media (max-width : 667px) {
    .actions {
      height: 100%;
      padding: 0 0 0 0;
      max-width: 100px;
      background-color: red;
    }
    .item {
      text-align: center;
      padding: 1.5rem 1rem;
      justify-content: center;
    }
    .item img {
      min-height: 50px;
      min-width: 50px;
      margin-right: 5px;
      margin-bottom: 10px;
    }
    .positioninga {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .item:hover {
      border-radius: 2px;
      background-color: white;
      border: 1px solid  #02213A;
    }
    .date {
      margin-right: 5px;
      min-width: 100px;
    }
  }
