.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    height: 5rem;
  }
  
  .logo {
    font-size: 1.5rem;
    color: white;
    font-family: 'Fira', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #02213A;
  }

  .img {
    height: 60px;
    padding: 10px;
  }
  
  .logo a {
    text-decoration: none;
    color: #02213A;
  }
  
  .navigation a {
    text-decoration: none;
    color: #02213A;
    font-size: 1rem;
  }
  
  @media (min-width: 768px) {
    .logo {
      font-size: 2.5rem;
    }
  
    .navigation a {
      font-size: 1.5rem;
    }
  }

  