@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Abcmonumentgrotesk';
  src: url('../fonts/ABC_Monument_Grotesk/ABCMonumentGrotesk-RegularItalic.otf') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Abcmonumentgrotesk';
  src: url('../fonts/ABC_Monument_Grotesk/ABCMonumentGrotesk-MediumItalic.otf') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Abcmonumentgrotesk';
  src: url('../fonts/ABC_Monument_Grotesk/ABCMonumentGrotesk-Medium.otf') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Abcmonumentgrotesk';
  src: url('../fonts/ABC_Monument_Grotesk/ABCMonumentGrotesk-Regular.otf') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Abcmonumentgrotesk';
  src: url('../fonts/ABC_Monument_Grotesk/ABCMonumentGrotesk-Bold.otf') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abcmonumentgrotesk';
  src: url('../fonts/ABC_Monument_Grotesk/ABCMonumentGrotesk-BoldItalic.otf') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Abcmonumentgrotesk', sans-serif;
  color: #02213A;
  background-color: white;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abcmonumentgrotesk', sans-serif;
}

p {
  font-size: 18px;
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  margin: auto;
  text-align: center;
}

@media (min-width: 1600px) {
  p {
  font-size: 25px;
}
}
@media (max-width : 667px) {
  p {
    font-size: 17px;
  }
}